{% load static %}

<a id="contact"></a>

<!-- Titlebar ================================================== -->
{% include "_headline2.html" with tag="Contact" %}

<!-- Container -->
<div class="container">
	<div class="row">
		<div class="col-xl-12">
			<div class="contact-location-info margin-bottom-50">
				<div class="contact-address">
					<ul>
                        <li>
                            We are here to make a common platform for job recruiter, and job seeker.
                            If any unethical activities can be noticed,
                            or want to enquiry something,
                            or give some suggestions, please feel free to contact.
                            Our major concern is to make sure the growth of productivity for the sake of our user.
                        </li>
						<li>&#128222; 01843083677</li>
                        <li>&#9993; nishan.sijan.rajon@gmail.com</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Container / End -->