				<!-- Dashboard Box -->
                {% load static %}

				<div class="col-xl-12">
					<div id="test1" class="dashboard-box">

						<!-- Headline -->
						<div class="headline">
							<h3><i class="icon-material-outline-lock"></i> Password & Security</h3>
						</div>

						<div class="content with-padding">
							<div class="row">
								<div class="col-xl-4">
									<div class="submit-field">
										<h5>Current Password</h5>
										<input type="password" class="with-border" name='currentpassword' required>
									</div>
								</div>

								<div class="col-xl-4">
									<div class="submit-field">
										<h5>New Password</h5>
										<input type="password" class="with-border" name='newpassword' required>
									</div>
								</div>

								<div class="col-xl-4">
									<div class="submit-field">
										<h5>Email</h5>
										<input type="email" class="with-border" value="{{ data_freelancer.emailaddress }}" name='emailaddress' required>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>