            {% load static %}

 			<div class="single-page-section">
				<h3 class="margin-bottom-25">Similar Company</h3>

				<!-- Listings Container -->
				<div class="listings-container grid-layout">

                    <!-- Job Listing -->
                    <a href="#" class="job-listing">

                        <!-- Job Listing Details -->
                        <div class="job-listing-details">
                            <!-- Logo -->
                            <div class="job-listing-company-logo">
                                <img src="{% static 'images/b_company_pofile_picture.jpg' %}" alt="">
                            </div>

                            <!-- Details -->
                            <div class="job-listing-description">
                                <h3 class="job-listing-title">Barista and Cashier</h3>
                                <h4 class="job-listing-company">Software Company</h4>
                                <h5>Tag Line</h5>
                            </div>
                        </div>

                        <!-- Job Listing Footer -->
                        <div class="job-listing-footer">
                            <ul>
                                <li><i class="icon-material-outline-location-on"></i> San Francisco</li>
                            </ul>
                        </div>
                    </a>

                </div>
                <!-- Listings Container / End -->
            </div>