            {% load static %}

            <!-- Similar Jobs -->
            <div class="single-page-section">
				<h3 class="margin-bottom-25">Similar Jobs</h3>

				<!-- Listings Container -->
				<div class="listings-container grid-layout">

                    <!-- Job Listing -->
                    <a href="#" class="job-listing">

                        <!-- Job Listing Details -->
                        <div class="job-listing-details">
                            <!-- Logo -->
                            <div class="job-listing-company-logo">
                                <img src="{% static 'images/c_job_pofile_picture.jpg' %}" alt="">
                            </div>

                            <!-- Details -->
                            <div class="job-listing-description">
                                <h4 class="job-listing-company">Coffee</h4>
                                <h3 class="job-listing-title">Barista and Cashier</h3>
                            </div>
                        </div>

                        <!-- Job Listing Footer -->
                        <div class="job-listing-footer">
                            <ul>
                                <li><i class="icon-material-outline-location-on"></i> San Francisco</li>
                                <li><i class="icon-material-outline-business-center"></i> Full Time</li>
                                <li><i class="icon-material-outline-account-balance-wallet"></i> $35000-$38000</li>
                                <li><i class="icon-material-outline-access-time"></i> 2 days ago</li>
                            </ul>
                        </div>
                    </a>

                </div>
                <!-- Listings Container / End -->
            </div>