{% include "_header.html" %}

{% load static %}

<!-- Dashboard Container -->
<div class="dashboard-container">

    <!-- Dashboard Sidebar -->
    {% include "_sidebar.html" %}

	<!-- Dashboard Content ================================================== -->
	<div class="dashboard-content-container" data-simplebar="">
		<div class="dashboard-content-inner">

			<!-- Dashboard Headline -->
			{% include "_headline.html" %}

            <form method="post" id="form_company" enctype='multipart/form-data' action="urls_company">
                {% csrf_token %}

                <!-- Row -->
                <div class="row">

                    <!-- Dashboard Box -->
                    <div class="col-xl-12">
                        <div class="dashboard-box margin-top-0">
                            <div class="content with-padding padding-bottom-0">
                                <div class="row">

                                    <div class="col-auto">
                                        <div class="avatar-wrapper" data-tippy-placement="bottom" title="Change Avatar">
                                            <img class="profile-pic" src="{% static 'images/b_company_pofile_picture.jpg' %}" alt="">
                                            <div class="upload-button"></div>
                                            <input class="file-upload" type="file" accept="image/*" name='company_picture' required>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="row">

                                            <div class="col-xl-6">
                                                <div class="submit-field">
                                                    <h5>ID</h5>
                                                    <input type="text" class="with-border" value="" name='company_username' required>
                                                </div>
                                            </div>

                                            <div class="col-xl-6">
                                                <div class="submit-field">
                                                    <h5>Name</h5>
                                                    <input type="text" class="with-border" value="" name='company_name' required>
                                                </div>
                                            </div>

                                            <div class="col-xl-6">
                                                <div class="submit-field">
                                                    <h5>Location</h5>
                                                    <input type="text" class="with-border" value="" name='company_location' required>
                                                </div>
                                            </div>

                                            <div class="col-xl-6">
                                                <div class="submit-field">
                                                    <h5>Category</h5>
                                                    <select class="selectpicker with-border" data-size="7" title="-" data-live-search="true" name='company_category' required>
                                                        {% for i in data_company_category %}
                                                            <option value="{{ i.company_category }}" {% if i.company_category == data_company.company_category %}selected="selected"{% endif %}>
                                                                {{ i.company_category }}
                                                            </option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Dashboard Box -->
                    <div class="col-xl-12">
                        <div class="dashboard-box">
                            <div class="content">
                                <ul class="fields-ul">
                                    <li>
                                        <div class="row">

                                            <div class="col-xl-12">
                                                <div class="submit-field">
                                                    <h5>Tagline</h5>
                                                    <input type="text" class="with-border" value="" name='company_tagline' required>
                                                </div>
                                            </div>

                                            <div class="col-xl-12">
                                                <div class="submit-field">
                                                    <h5>Description</h5>
                                                    <textarea cols="30" rows="5" class="with-border" name='company_description' required>

                                                    </textarea>
                                                </div>
                                            </div>

                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Button -->
                    <div class="col-xl-12">
                        <button class="button ripple-effect big margin-top-30" type="submit" form="form_company">
                            Save Changes
                        </button>
                    </div>

                </div>
                <!-- Row / End -->

            </form>

            {% include "_footer2b.html" %}

        </div>
        <!-- Content-inner / End -->
    </div>
    <!-- Content / End -->
</div>
<!-- Container / End -->

{% include "_footer2a.html" %}