                                <!--freelancers-job-offers -->

								<li>
									<div class="job-listing">
										<!-- Job Listing Details -->
										<div class="job-listing-details">
 											<a href="#" class="job-listing-company-logo">
												<img src="{% static 'images/c_job_pofile_picture.jpg' %}" alt="">
											</a>

											<!-- Details -->
											<div class="job-listing-description">
												<h3 class="job-listing-title">
                                                    <a href="#">Frontend React Developer</a>
                                                    <span class="dashboard-status-button green">Pending</span>
                                                    {#<span class="dashboard-status-button red">Expired</span>#}
                                                    <a href="#">
                                                        <i class="icon-material-outline-location-on"></i> London
                                                    </a>
                                                </h3>

												<!-- Job Listing Footer -->
												<div class="job-listing-footer">
													<ul>
														<li><i class="icon-material-outline-date-range"></i> Posted on 10 July, 2019</li>
														<li><i class="icon-material-outline-date-range"></i> Expiring on 10 August, 2019</li>
                                                        <li><i class="icon-material-outline-date-range"></i> nishan@gmail.com</li>
                                                        <li><a href="#" class="button gray ripple-effect ico" title="Remove" data-tippy-placement="top"><i class="icon-feather-trash-2"></i></a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</li>



                                <!--freelancers-job-proposals -->
                                <li>
									<div class="job-listing">
										<!-- Job Listing Details -->
										<div class="job-listing-details">
 											<a href="#" class="job-listing-company-logo">
												<img src="{% static 'images/c_job_pofile_picture.jpg' %}" alt="">
											</a>

											<!-- Details -->
											<div class="job-listing-description">
												<h3 class="job-listing-title">
                                                    <a href="#">Frontend React Developer</a>
                                                    <span class="dashboard-status-button green">Pending</span>
                                                    {#<span class="dashboard-status-button red">Expired</span>#}
                                                    <a href="#">
                                                        <i class="icon-material-outline-location-on"></i> London
                                                    </a>
                                                </h3>

												<!-- Job Listing Footer -->
												<div class="job-listing-footer">
													<ul>
														<li><i class="icon-material-outline-date-range"></i> Posted on 10 July, 2019</li>
														<li><i class="icon-material-outline-date-range"></i> Expiring on 10 August, 2019</li>
                                                        <li><a href="#" class="button gray ripple-effect ico" title="Remove" data-tippy-placement="top"><i class="icon-feather-trash-2"></i></a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</li>